
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Inter:wght@400;600&display=swap');

:root {
    --primary-color: #1D428A;
    --secondary-color: #F5F5F5;
    --accent1-color: #C8102E; 
    --accent2-color: #1A1A1A; 

    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Inter', sans-serif;
}

body {
    max-width: 1600px;
    margin: 0 auto;
    font-family: var(--paragraph-font);
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px 0;
    text-align: center;
}

header h1 {
    color: var(--secondary-color); 
    margin: 0;
    padding-bottom: 10px;
    font-size: 2.5em;
}

nav a {
    color: var(--secondary-color);
    text-decoration: none;
    padding: 10px 15px;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    border-radius: 5px;
}

main {
    padding: 20px;
}

.intro {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.intro p {
    line-height: 1.6;
    font-size: 1.1em;
}

.lake, .Warriors, .Bulls {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 30px;
    align-items: center;
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.lake h1, .Warriors h1, .Bulls h1 {
    grid-column: 1 / -1; 
    text-align: center;
    font-size: 2em;
    padding-bottom: 30px;
    border-bottom: 3px solid var(--accent1-color);
    margin-top: 0;
}

.lake img, .Warriors img, .Bulls img {
    width: 100%; 
    height: auto;
    display: block;
    box-sizing: border-box; 
}

.lake p, .Warriors p, .Bulls p {
    line-height: 1.7;
    font-size: 1.5em;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 0.9em;
}

@media (max-width: 768px) {
    .lake, .Warriors, .Bulls {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .Warriors h1, .Warriors p, .Warriors img {
        order: unset; 
    }
    
    .lake h1, .Warriors h1, .Bulls h1 {
        grid-column: auto; 
    }
}